<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecnoHawrd</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("TecnoHarwd", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <img class="img-rounded" src="~/Images/Logo de la empresa.png" alt="logo" width="50" height="50">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Productos", "Productos", "Home")</li>
                    <li>@Html.ActionLink("Ofertas", "Ofertas", "Home")</li>
                    <li>@Html.ActionLink("Nosotros", "Nosotros", "Home")</li>
                    <li>@Html.ActionLink("Contactenos", "Contactenos", "Home")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "clientes")</li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container body-">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/Images/Logo de la empresa.png" alt="logo" width="150" height="125">
                    <div class="caption">
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer ">
                        <img src="~/Images/Iconos-footer/Icono-facebook.png" alt="logoFacebook" width="30" height="30">
                        <div class="caption">
                            <p></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer ">
                        <img  src="~/Images/Iconos-footer/Icono-mapa.png" alt="logomapa" width="30" height="30">
                        <div class="caption">
                            <p></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer ">
                        <img src="~/Images/Iconos-footer/Icono-whatsapp.png" alt="logowhatsapp" width="30" height="30">
                        <div class="caption">
                            <p></p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6">
                    <p style="text-align:center; font-size:30px; color:black; font-family:Arial">"Enfocados en mejorar tu futuro TECNOHAWRD tu mejor eleccion"</p>

                </div>
            </div>
                
</footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>