@model TecnoHawrd.Models.clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cli_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.factura.fact_cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factura.fact_cod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cli_cod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
